<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Sporty Shoes Online Store</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body >

<style>

    form {

        margin-left : 25%;
        width:550px;
    }

</style>
<h1> Welcome to Sporty Shoes eCommerse .... </h1>
<form action="changePassword" method="get">
    <p th:text="${changePasswordMsg}"  />
    <div class="form-group">
        <label for="email">Enter User Name :</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="pwd">Enter New Password : </label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <button type="submit" class="btn btn-primary">Click Here</button>
</form>
</body>
</html>