<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change Password Page</title>
</head>
<body>
<h1> Welcome to Sporty Shoes eCommerse .... </h1>
<form action="changePassword" method="get">
    <p th:text="${changePasswordMsg}"  />
    <div class="form-group">
        <label for="email">Enter User Name :</label>
        <input type="text" class="form-control" id="username" name="username">
    </div>
    <div class="form-group">
        <label for="pwd">Enter New Password : </label>
        <input type="password" class="form-control" id="newPassword" name="newPassword">
    </div>
    <button type="submit" class="btn btn-primary">Click Here</button>
</form>
</body>
</html>