<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=ISO-8859-1">
    <title>Sporty Shoes Online Store</title>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">

    <!-- jQuery library -->
    <script
            src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script
            src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>


<body >

<style>

    form {

        margin-left : 25%;
        width:550px;
    }

    .city {
        background-color: Orange;
        color: black;
        border: 2px solid black;
        margin: 20px;
        padding: 20px;
    }

</style>


<div class="city">
    <p>&nbsp</p>
    <form th:action="@{/productUpdate}" th:object="${prod}" method="get">

        <p th:text="${updateProductMsg}"  />


        <h1> Update Product by filling below details  </h1>

        <p>&nbsp</p>
        <div>
         <input type="hidden" class="form-control" name="oldname" th:value="${prod.name}"  >
        </div>

        <p>&nbsp</p>
        <div>
            Product Name : <input type="text" class="form-control" name="updatedName" th:value="${prod.name}" required >
        </div>

        <p>&nbsp</p>

        <div>
            Product Price: <input type="text" class="form-control" name="price" th:value="${prod.price}" required>
        </div>

        <p>&nbsp</p>

        <div>
            Product Size : <input type="text" class="form-control" name="size" th:value="${prod.size}" required>
        </div>

        <p>&nbsp</p>

        <div>
            Product Category : <input type="text" class="form-control" name="category" th:value="${prod.category}" required >
        </div>

        <p>&nbsp</p>

        <div>

            <button type="submit" class="form-control" >UPDATE</button>

        </div>


    </form>
</div>



</body>
</html>